<div class="filters">
    <input class="filter-input" placeholder="Search suppliers" type="text" />
    <div class="select-wrapper">
        <select>
        <option>Test 1</option>
        <option>Test 2</option>
      </select>
    </div>
    <button class="button">Reset</button>
    <button class="button submit">Search</button>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Supplier</th>
                <th>Pound rating</th>
                <th>Reference</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Supplier name</td>
                <td>xxx</td>
                <td>123456</td>
                <td>123456</td>
            </tr>
            <tr>
                <td>Supplier name</td>
                <td>xxx</td>
                <td>123456</td>
                <td>123456</td>
            </tr>
            <tr>
                <td>Supplier name</td>
                <td>xxx</td>
                <td>123456</td>
                <td>123456</td>
            </tr>
            <tr>
                <td>Supplier name</td>
                <td>xxx</td>
                <td>123456</td>
                <td>123456</td>
            </tr>
            <tr>
                <td>Supplier name</td>
                <td>xxx</td>
                <td>123456</td>
                <td>123456</td>
            </tr>
        </tbody>
    </table>
</div>
<pagination></pagination>