<div class="filters">
    <input ng-model="$ctrl.query" class="filter-input" placeholder="Search suppliers" type="text" />
    <div class="select-wrapper">
        <select ng-model="$ctrl.selectedRating" ng-options="rating for rating in $ctrl.poundRatings">
        <option value="">Select pound rating</option>
      </select>
    </div>
    <div class="actions"> <a href="#" ng-click="$ctrl.onReset()" class="button">Reset</a>
        <a href="#" ng-click="$ctrl.onSearch()" class="button submit">Search</a></div>

</div>
<div>
    <table class="payments-table">
        <thead>
            <tr>
                <th>Supplier</th>
                <th class="pound-rating-column">Pound rating</th>
                <th class="reference-column">Reference</th>
                <th class="value-column">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-click="$ctrl.onPaymentClick(p)" ng-repeat="p in $ctrl.payments">
                <td>{{ p.payment_supplier }}</td>
                <td>
                    <pound-rating rating="p.payment_cost_rating"></pound-rating>
                </td>
                <td>{{ p.payment_ref }}</td>
                <td>{{ p.payment_amount | currency:"£":0 }}</td>
            </tr>
        </tbody>
    </table>
</div>
<pagination on-page-change="$ctrl.onPageChange($page)" current="$ctrl.currentPage" total="$ctrl.totalPagesCount"></pagination>
<modal open="$ctrl.isDetailsModalOpen" on-close="$ctrl.onDetailsClose()">
    <payment-details payment="$ctrl.selectedPayment"></payment-details>
</modal>