@import '../../../common/mixins';
@import '../../../common/variables';

.filters {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 15px 0;
  .button {
      @include gradient-btn($gray-dark-2, $gray-light-1, $gray-light-3);
      &.submit {
          @include linear-gradient($brand-blue-1, $brand-blue-2);
          color: $white-base;
          margin: 0;
      }
  }
  
  .select-wrapper {
      box-sizing: border-box;
      display: inline-block;
      height: 30px;
      text-align: center;
      background-color: #eaeced;
      border-radius: 4px;
      padding: 4px;
      margin: 0 4px;
      select {
        width: 150px;
      }
  }

  input {
      box-sizing: border-box;
      width: 370px;
      display: inine-block;
      height: 30px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: $gray-dark-1;
      background-color: $white-base;
      background-image: none;
      border: 1px solid $gray-light-2;
      border-radius: 4px;
      margin: 0 5px;
  }
}

.payments-table {
    $border-radius: 4px;
    $cell-border: solid 1px #e0e0e0;
    @include box-shadow(1px, 1px, 1px, 0px, rgba(0,0,0,0.12));
    border: solid 1px #ccc;
    border-collapse: separate !important;
    border-spacing:0;
    width: 100%;
    border-radius: 4px;
    margin: 10px 0;
    thead tr th {
        height: 60px;
        border-bottom: solid 1px #cccfd1;
        text-align: center;
        @include linear-gradient(#ecedee, #e8e9ea);
    }
    tr {
      height: 50px;
      td {
        text-align: center;
        border-bottom:  $cell-border;
        border-right:  $cell-border
      }
      td:last-child {
        border-right: none;
      }
      th:first-child, td:first-child {
        text-align: left;
        padding-left: 30px;
      }
    }

  tr:nth-child(even) {
    @include linear-gradient(#f8f8f8, #f6f6f6);
  }

  th:first-child {
    border-radius: $border-radius 0 0 0;
  }

  th:last-child {
    border-radius: 0 $border-radius 0 0;
  }

  tr:last-child {
    td {
      border-bottom: 0;
    }
    td:first-child {
        border-radius: 0 0 0 $border-radius;
    }
    td:last-child {
        border-radius: 0 0 $border-radius 0;
    }
  } 
    
  .pound-rating-column {
    width: 180px;
  }

  .reference-column, .value-column {
    width: 100px;
  }
}

// no more tables concept based on https://css-tricks.com/responsive-data-tables/
@media 
only screen and (max-width: $media-screen-sm)  {
  .filters {
    input, select, .select-wrapper {
      width: 100%;
    }
  }
  .payments-table {
    display: block; 
    thead, tbody, th, tr { 
      display: block; 
    }
    td {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr { 
      border: 1px solid $gray-light-2;
      height: auto !important;
    }
    
    td { 
      border: none;
      border-bottom: 1px solid $gray-light-1; 
      position: relative;
      padding-left: 50% !important; 
      text-align: center !important;
      min-height: 30px;
      pound-rating {
        padding-top: 5px;
      }
    }
    
    td:before { 
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
    }
	
    td:nth-of-type(1):before { content: "Supplier"; }
    td:nth-of-type(2):before { content: "Pound rating"; }
    td:nth-of-type(3):before { content: "Reference"; }
    td:nth-of-type(4):before { content: "Value"; }
  }
	
}