$white-base: #fdfdfd;
$gray-light-1: #f2f2f2;
$gray-light-2: #cbcbcb;
$gray-light-3: #c4c4c4;
$gray-dark-1: #555;
$gray-dark-2: #494949;
$gray-dark-3: #333333;

$brand-blue-1: #6ba1f3;
$brand-blue-2: #2077f0;
$brand-blue-3: #2288b7;

$body-font-size: 12px;
$body-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-color: $gray-dark-3;
$body-line-height: 1.42857;

$container-max-width: 980px;
$container-margin: 70px auto;
$container-shadow: 0px 0px 0px 8px rgba(0,0,0,0.05);

$input-color: $gray-dark-1;
$input-background-color: $white-base;
$input-border: 1px solid gray-light-2;
$input-height: 30px;

$media-screen-md: 980px;
$media-screen-sm: 620px;

